html, body {
    width:100%;
    height:100%;
}
body {
    margin:0;
}
#aff {
    width:100%;
    height:100%;
    /*background-image:url('assets/loading.png');
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;*/
}